[submodule "sources/3rdParty"]
	path = sources/3rdParty
	url = https://github.com/sjm324/tclap
[submodule "sources/3rdParty/tclap"]
	path = sources/3rdParty/tclap
	url = https://github.com/sjm324/tclap
